{{ define "main" }}

    <h1>{{.Title}}</h1>




    {{.Content}}

    <div class="grid grid-cols-1
                sm:grid-cols-2      
                md:grid-cols-3      
    ">
    {{range .Pages}}

    <div class="grid 
                
                    grid-cols-1
                    content-center
                    pt-5 pr-5" >
            
            <img class="rounded-full 
                        border border-gray-300
                        h-40 w-40 
                        mx-auto" src="/pic/team/{{.File.BaseFileName}}.png">    
            
            <div class="pt-5 text-center">
                <h2>{{.Title}}</h2>
                {{.Content}}
            </div>
            
        </div>

    {{end}}
    </div>
{{end}}